# Virtual environment folder
venv/

# Environment variables file
.env

# VS Code settings
.vscode/

# Python bytecode files
__pycache__/
*.pyc

# MacOS exclusive
.DS_Store

# Instructions
.github/

# Log files
*.log